@model btl.Models.NguoiDung
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<style>
    .form-group {
        margin-left: 250px;
    }

    .form-control {
        width: 400px !important;
    }
</style>
<div class="container">

    <h2 class="text-center">Đổi mật khẩu</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-group row">
                <label for="matkhau" class="col-sm-3 col-form-label">Mật khẩu</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="matkhau" name="matkhau" >
                </div>
            </div>
            <div class="form-group row">
                <label for="matkhau1" class="col-sm-3 col-form-label">Mật khẩu mới</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="matkhau1" name="matkhau1">
                </div>
            </div>
            <div class="form-group row">
                <label for="matkhau2" class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="matkhau2" name="matkhau2">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-success" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                    @Html.ActionLink("<-- Quay lại", "Index","Home")
                </div>
            </div>
            
        </div>
    }

   
</div>

