
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<style>
    .form-group {
        margin-left: 250px;
    }

    .form-control {
        width: 400px !important;
    }
</style>
<div class="form-horizontal">
    <hr />
    <div id="laysdt">
        <h3 class="text-center">Nhập số điện thoại</h3>
        <div class="form-group row">
            <label for="sdt" class="col-sm-3 col-form-label">Số điện thoại</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="sdt" name="sdt">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-7"></div>
            <div class="col-sm-2">
                <input type="submit" id="btnsdt" value="Xác nhận" class="btn btn-success" />
            </div>
        </div>
    </div>
    <div id="laymk">
        <h3 class="text-center">Lấy lại mật khẩu</h3>
        <div class="form-group row">
            <label for="matkhau1" class="col-sm-3 col-form-label">Mật khẩu mới</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="matkhau1" name="matkhau1">
            </div>
        </div>
        <div class="form-group row">
            <label for="matkhau2" class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="matkhau2" name="matkhau2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-7"></div>
            <div class="col-sm-2">
                <input type="submit" id="ok" value="OK" class="btn btn-success" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-7"></div>
        <div class="col-sm-2">
            @Html.ActionLink("<-- Quay lại", "DangNhap")
        </div>
    </div>

</div>
<script src="~/Assets/plugins/notifyjs/js/notify.js"></script>
<script src="~/Assets/plugins/notifications/notify.min.js"></script>
<script src="~/Assets/plugins/notifications/style.js"></script>
<script>
    $(document).ready(function () {
        $('#laymk').hide();
        $('#btnsdt').on('click', function () {
            var frm = new FormData();
            console.log(frm);
            frm.append("sdt", $('#sdt').val());
            $.ajax({
                url: '/TaiKhoan/ForgotStep1',
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: frm,
                success: function (data) {

                    if (data == "True" || data == "true" || data == true) {
                        $.notify('Bạn hãy thiết lập mật khẩu mới !', {
                            style: 'notify',
                            className: 'wait'
                        });
                        setTimeout(function () {
                            $('#sdt').prop('readonly', true);
                            $('#laymk').show();
                        }, 1500);
                    } else {
                        $("input[type=number]").val("");
                        $.notify('Số điện thoại không chính xác !', {
                            style: 'notify',
                            className: 'error'
                        });
                    }

                }
            });
        });
        $('#ok').on('click', function () {
            var frm = new FormData();
            frm.append("mk1", $('#matkhau1').val());
            frm.append("mk2", $('#matkhau2').val());
            frm.append("sdt", $('#sdt').val());
            $.ajax({
                url: '/TaiKhoan/ForgotStep2',
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: frm,
                success: function (data) {

                    if (data == "True" || data == "true" || data == true) {
                        $.notify('Đổi mật khẩu thành công !', {
                            style: 'notify',
                            className: 'success'
                        });
                        setTimeout(function () {
                            window.location.href = "/TaiKhoan/DangNhap";
                        }, 1500);
                    } else {
                        $("input[type=number]").val("");
                        $.notify('Đổi mật khẩu không thành công, bạn vui lòng kiểm tra lại mật khẩu mới !', {
                            style: 'notify',
                            className: 'error'
                        });
                    }

                }
            });
        });
    })
   
</script>