
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div class="container">
    <p class="text-center" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;font-size:20px;">
        
    </p>
    <h2 id="" style="text-align: justify;">
    <span style="font-weight: 400;"></span>
    <span style="font-weight: 400;">Điểm danh 3 loại thước kẹp tốt và phổ biến nhất trên thị trường hiện nay</span>
    </h2>
    <h2 id="" class="table-of-content" style="text-align: justify;">
    <span style="font-weight: 400;">1. </span>
    <span style="font-weight: 400;">Thước cặp cơ khí</span></h2>
    <p style="text-align: justify;">
    <span style="font-weight: 400;">Đây là loại <em><strong>thước cặp thông dụng nhất </strong>
        </em>với sai số rơi vào tầm 0,05 mm, độ phân giải thường là 0,02 – 0,05 mm. Nó cho phép chúng ta đo kích thước ngoài, kích thước trong, độ sâu và khoảng cách. Tuy nhiên, cách đọc kết quả có chút đặc biệt nên với những người chưa có kinh nghiệm, việc đưa ra kết quả chính xác sẽ tương đối khó khăn.&nbsp;</span></p>
    <p style="text-align: justify;">
    <span style="font-weight: 400;">Ngoài ra, chữ số trên thước cũng khá là nhỏ nên sẽ thành khó nhìn đối với những người có bệnh lý về mắt hoặc trong các môi trường tối. Vì vậy, nếu cảm thấy chiếc thước cặp cơ khí khó đọc thì bạn có thể tìm đến các sản phẩm có chức năng hiển thị kết quả đo rõ ràng hơn như thước cặp đồng hồ và thước cặp điện tử.</span></p>
    <p style="text-align: center;">
    <img src="~/Content/tt1.jpg" alt="" width="960" height="639" class="img-fluid" style="display: block; margin-left: auto; margin-right: auto;"></p>
    <p style="text-align: center;"><em><span style="font-weight: 400;">Chữ số trên thước cũng khá là nhỏ </span></em></p>
    <h2 id="" class="table-of-content" style="text-align: justify;"><span style="font-weight: 400;">2. Thước cặp đồng hồ</span></h2>
    <p style="text-align: justify;"><span style="font-weight: 400;">Dòng <em><strong>thước cặp có đồng hồ</strong></em> cơ cho phép người sử dụng <em><strong>dễ dàng đọc kết quả hơn</strong></em>. Ngoài ra, do những chiếc thước cặp có đồng hồ hiển thị sử dụng cơ chế bánh răng để đo nên chúng chính xác hơn so với chiếc thước cặp truyền thống. Sai số của chúng chỉ rơi vào tầm 0,03 mm, độ phân giải thường là 0,01 – 0,02 mm.&nbsp;</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">Chúng vẫn có những chức năng tương tự thước cặp cơ khí như đo kích thước trong/ngoài, đo độ sâu, đó khoảng cách. Tuy vậy, trong thời đại 4.0 những chiếc thước cặp có đồng hồ còn thiếu khá nhiều tính năng giúp cải thiện hiệu suất làm việc của người sử dụng. Do vậy, hiện nay những chiếc thước cặp đồng hồ ngày càng thịnh hành và được các kĩ sư cơ khí vô cùng ưa chuộng.</span></p>
    <p style="text-align: justify;"><img src="~/Content/tt3.jpg" alt="" width="960" height="639" class="img-fluid" style="display: block; margin-left: auto; margin-right: auto;"></p>
    <h2 id="" class="table-of-content" style="text-align: justify;"><span style="font-weight: 400;">3. </span><span style="font-weight: 400;">Thước cặp điện tử</span></h2>
    <p style="text-align: justify;"><span style="font-weight: 400;"><em><strong>Thước cặp điện tử</strong></em> là dòng sản phẩm hiện đại <em><strong>được tích hợp bộ hiển thị số</strong></em>. Nó cho phép người sử dụng đọc được kết quả một cách nhanh chóng và dễ dàng. Ngoài ra chúng còn có thể <em><strong>tích hợp thêm các tính năng kết nối</strong></em>. Điều này cho phép thiết bị truyền kết quả đo đến một máy tính chỉ với một thao tác bấm nút đơn giản. Tiện hơn rất nhiều so với việc phải đọc kết quả rồi ghi hoặc nhập dữ liệu bằng tay như trước đây.&nbsp;</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">Chức năng này sẽ giúp tăng hiệu suất công việc một cách đáng kể. Và để đảm bảo độ bền của thiết bị, chúng được thiết kế đáp ứng các tiêu chuẩn chống bụi, nước, dầu IP67 hoàn thiện. Ngoài ra, thước còn khá nhiều các tính năng tích hợp khác như: chọn lựa đơn vị đo, đo tham chiếu, khoá gốc 0, tiết kiệm pin,…</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;"><img src="~/Content/tt2.jpg" alt="" width="960" height="639" class="img-fluid" style="display: block; margin-left: auto; margin-right: auto;"></span></p>
    
</div>

