
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h4 style="min-height:350px;display:flex;justify-content:center;align-items:center">Chưa có thông báo !</h4>

