*{
    margin:0;
    padding:0;
}
.noidung{
    display:flex;
    flex-wrap:wrap;
}
.card{
    margin-top:20px;
    margin-right:15px;
    width:215px;
    height:350px;
}
.card:hover{
    box-shadow: 5px 10px 18px #888888;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: 
    #e9ecef;
    border-radius: .25rem;
    font-size: 14px;
    padding-left: 190px;

}
.row ul li{
    list-style:none;
    font-size:15px;
}
.row ul li a{
    color:black;
}
.gray{
    margin-bottom: 0;
    padding-left: 0;
    text-align:center;
    background:rgba(221, 224, 222, 0.29); 
}
.card-img-top{
    height:50%;
}
.card-text{
    text-align:center;
    height:40px;
    font-size:15px;
}
.card img{
    vertical-align:middle;
    border-style:none;
}
.mnl{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
    border-bottom:dotted 1px;
}
.mnl a{
    text-decoration:none;
}
.mnl:hover{
    background-color:#E6E6FA;
}