@media print {
    @page 
    {
        size: auto;  
        margin: 0;
        padding:0;
    }
}

.w15 {
    float: left !important;
    width: 15% !important;
}

.w40 {
    float: left !important;
    width: 40% !important;
}
