*{
    margin:0;
    padding:0;
}
.noidung{
   margin-top:20px;
   margin-left:70px;
}
.card{
    margin-top:20px;
    margin-right:15px;
    width:180px;
    height:250px;
    float:left;
    position:relative;
}
.card:hover{
    box-shadow: 5px 10px 18px #888888;
}
.row ul li{
    list-style:none;
    font-size:15px;
}
.row ul li a{
    color:black;
}
.card-img-top{
    height:60%;
}
.card-text{
    text-align:center;
    height:60px;
}
.card img{
    vertical-align:middle;
    border-style:none;
}
.tk{
    width:250px!important;
}
.Imgsuccess{
    width:40px;
    height:40px;
    z-index:9;
    position:absolute;
    top:0;
    right:0;
    display:none;
}
#sp{
    min-height:300px;
}
